.mystays-hover-intermediate	{
	max-width: 14.285715%;
    height: 16.666667%;
    position: relative;
    text-align: center;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    &:after {
	    content: "";
	    position: absolute;
	    z-index: -1;
	    top: 0.25em;
	    left: 0px;
	    right: 0px;
	    height: 2em;
	    background: rgba(78, 204, 196, 0.3);
	} 
	&:hover{
		&:after{
			border-top-right-radius: 2em;
    		border-bottom-right-radius: 2em;
		}
	}   	
}

.mbsc-mobiscroll.mbsc-range .mbsc-ltr .mbsc-cal-sel-start.mbsc-cal-sel-end{    	
	&:after{
		border-top-right-radius:0;
	    border-bottom-right-radius:0;
		right: 0;
		margin-right: 0;
	}
}