.mystays-hover-intermediate	{
	max-width: 14.285715%;
    height: 16.666667%;
    position: relative;
    text-align: center;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    &:after {
	    content: "";
	    position: absolute;
	    z-index: -1;
	    top: 0.25em;
	    left: 0px;
	    right: 0px;
	    height: 2em;
	    background: rgba(78, 204, 196, 0.3);
	} 
	&:hover{
		&:after{
			border-top-right-radius: 2em;
    		border-bottom-right-radius: 2em;
    		    right: 50%;
					margin-right: -1em;
		}
	}   	
}

.mbsc-mobiscroll.mbsc-range .mbsc-ltr {
	.mbsc-cal-sel-start.mbsc-cal-sel-end{    	
		&:after{
			border-top-right-radius:0;
		    border-bottom-right-radius:0;
			right: 0;
			margin-right: 0;
		}
	}

	.mbsc-cal-sel-end.mystays-hover-intermediate{
		.mbsc-cal-day-date{
			background: none;
			color: #454545;
			border-color:transparent;
		}
		&:after{
			border-top-right-radius:0;
			border-bottom-right-radius:0;
			right: 0;
			margin-right: 0;
		}
	}

	.mystays-bookingengine-disabled{
		cursor: not-allowed;
		.mbsc-cal-cell-txt {
		    opacity: .2;
		}
	}
}

.mystays-calendar-footer{
	// position: absolute;
	// left: 0;
	// right: 0;
	// bottom: -30px;
	// background: #f7f7f7;
}


#calender-render-container{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	left:0;	
}



.mbsc-fr-persp{
	height: 800px !important;
}

.mbsc-cal-scroll-c{
	overflow: inherit;
}

.mbsc-cal-body{
	overflow: hidden;
}

.mbsc-cal-body{
	    height: 575px;
}

.mbsc-fr-liq .mbsc-fr-popup{
	bottom: 0;
}